/* index.html */

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav-btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: orange;
  transition: background-color 250ms ease-in;
}

.nav-btn:hover {
  background-color: orangered;
}
/* end index.html */

/* 1-timer.html */

input[type='text'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 35px;
}

.start-timer {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  transition: background-color 250ms ease-in;
}

.start-timer:hover {
  background-color: #6c8cff;
}

.timer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  line-height: 1.5;
  color: #2e2f42;
}

/* end 1-timer.html */

/* 2-snackbar.html */

.form {
  margin-top: 20px;
}

.inp-label {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 35px;
}

fieldset {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
}

.creat-notif {
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
}

/* end 2-snackbar.html */
